
html,body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}
.top {
    width: 100%;
    height: 100%;
    background:url("/img/food.jpg");
    background-size: cover;
}
.menutren {
    border-bottom: 1px solid grey;
    font-family: 'Noto Sans', sans-serif;
}
.menutrenphai li a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.banner {
    color:#423333;
}
.toprate {
    text-transform: uppercase;
    font-size:30px;
    color:#523636;
}
.tieudeto{
    position: relative;
}
.tieudeto:after {
    content:'';
    width: 100px;
    height: 3px;
    background: #29759a;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -10px;
}
.trichdan{
    font-size: 20px;
}
.nutaction{
    border-radius: 41px;
}
.noidung{
    background-color: #c0d6c8;
}
.noidung2{
    color:#173c61;

}
.sp{
    width: 100%;  
    height: auto;
    position: relative;
}
.sp img{
    width: 100%;
    height: 358px;
}
.sp .ten{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #c0d6c88c;
    z-index: 2;
    top: 0;
    transition: 0.5s;
    color: white;
    opacity: 0;
}
.goi{
    position:absolute;
    height: 50px;
    top:50%;
    margin-top: -25px;
    text-align: center;
    width: 100%;
    font-size: 28px;
}
.sp:hover  .ten{
    opacity: 1;
}
.danhmuc{
    font-style: italic;
    font-size: 15px;
}
.tenchitiet{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.noidung3 .col-sm-4 {
    padding:0px;
}
.sanpham{
    height: 480px;
}
.footer  p {
    color: #fff;
    font-size: 1em;
}
.footer  p a{
    color:#111;
}
.footer  p a:hover{
    text-decoration:underline;
}
ul.footer_social {
    padding: 0;
    list-style: none;
}
ul.footer_social li a {
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.footer_social li:first-child {
    margin-left: 0;
}
ul.footer_social li {
    width:33.333%;
    float:left;
}
ul.footer_social li a:hover i.fb, ul.footer_social li a:hover i.tw, ul.footer_social li a:hover i.pin{
    opacity:0.9;
}
.footer {
    background:#222;
    padding: 3em 4em 5em 6em;
}
.footer-grid {
    float: left;
    width: 17.6%;
    margin-right: 3%;
}
.footer-grid_last {
    margin-right: 0;
}
.footer-grid h3 {
    color: #F9F9F9;
    font-size: 1.4em;
    margin-bottom: 0.2em;
}
ul.list1 {
    padding: 0;
    list-style: none;
}
ul.list1 a {
    color: #747477;
    font-size: 0.95em;
    line-height: 1.8em
}
ul.list1 a:hover{
  color: #fff;
  text-decoration:none;
}
.search_footer {
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin-bottom:2em;
}
.search_footer input[type="text"] {
    padding:7px 10px;
    outline: none;
    border: none;
    width: 70.33%;
    line-height: 1.5em;
    font-size: 0.8125em;
    background:#F5F5F5;
    border-radius: 4px 0px 0px 4px;
    -o-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 0px 4px 4px 0px;
}
.search_footer input[type="submit"] {
    background:#000;
    padding:7px 8px;
    cursor: pointer;
    position: absolute;
    color:#fff;
    border:none;
    outline: none;
    line-height: 1.5em;
    text-transform: uppercase;
    font-size: 0.8em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 0px 4px 4px 0px;
    -o-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
}
.search_footer input[type="submit"]:hover{
    background:#EA57A3;
}
p.footer_desc{
    color: #747477;
    font-size: 0.95em;
    line-height: 1.8em;
    margin: 0px 0 16px;
}
p.f_text{
    color:#fff;
    font-size:0.85em;
    margin-bottom:0.5em;
}
p.email{
    color: #EA57A3;
    font-size:0.85em;
}
p.email span a{
    color:#EA57A3;
}
p.email span:hover{
    text-decoration:underline; 
}
.modal-open .modal{
    opacity: 1;
    padding-top:160px;
}
.quantitybox{
    height: 38px;
    padding-bottom: 6px;
}
.anhproduct{
    height: 230px;
}    
.user-create{
    display: inline-block;
}
.create{
    float: right;
}
.search{
    float: left;
}
/*cart*/
.box-don-hang{
    color:white;
    background-color: #c10130;
    height:56px;
    text-align: center;
    padding-top: 14px;
    font-size: 18px;
}
.nuthieuchinh{
    margin: 10px 350px; 

}
.nuthieuchinh a{
    display: inline-block;
    border: solid 1px;
}
.giatien{
    margin: 10px 117px;
    color:#f1022a;
}
.quantitycart{
    margin: 10px 150px;
}
.totalamount{
    text-align: center;
}
.totalprice{
    color:red;
}
.name-product {
    color: #000;
}
/*history*/

div.history-table {
    margin-top: 20px;
}
div.history-table .history-table-row .history-table-cell {
    float: left;
    padding: 10px 40px;
    border: 1px solid black;
}
.removebtn{
    padding:0;
}
.content{
    display: flex;
    align-items: center;
    padding-left:300px;
}
